In [2]:
%%capture
%load_ext sql
%sql sqlite:///Population of India.csv

In [7]:
import pandas as pd
from sqlalchemy import create_engine

# Step 1: Load CSV file into a pandas DataFrame
csv_file = 'Population of India.csv'
df = pd.read_csv(csv_file)

# Step 2: Create a SQLite database
engine = create_engine('sqlite:///Population.db')  # Creates SQLite file named Population.db

# Step 3: Write DataFrame to SQLite table
table_name = 'Population'
df.to_sql(table_name, engine, if_exists='replace', index=False)

print(f"Data successfully imported into the {table_name} table.")

Data successfully imported into the Population table.

In [12]:
import sqlite3

# Connect to the SQLite database
conn = sqlite3.connect('Population.db')

# Create a cursor
cur = conn.cursor()

# Query the Population table
cur.execute("SELECT * FROM Population LIMIT 5")

# Fetch and print the results
rows = cur.fetchall()
for row in rows:
    print(row)

('1', 'Uttar Pradesh', 199812341, 16.5, 104480510, 95331831, '9148679', 930, 155111022, 44470455, 240928, 828)
('2', 'Maharashtra', 112374333, 9.28, 58243056, 54131277, '4111779', 929, 61545441, 50827531, 307713, 365)
('3', 'Bihar', 104099452, 8.6, 54278157, 49821295, '4456862', 918, 92075028, 11729609, 94163, 1102)
('4', 'West Bengal', 91276115, 7.54, 46809027, 44467088, '2341939', 950, 62213676, 29134060, 88752, 1030)
('5', 'Madhya Pradesh', 72626809, 6.0, 37612306, 35014503, '2597803', 931, 52537899, 20059666, 308245, 236)

In [13]:
column_names = [description[0] for description in cur.description]

# Print the column names
print("Column Names:", column_names)

Column Names: ['Sl No', 'State/UT', 'Population[50]', 'Percent (%)', 'Male', 'Female', 'Difference between male and female', 'Sex ratio', 'Rural[51]', 'Urban[51]', 'Area[52] (km2)', 'Density (per km2)']

In [16]:
cur.execute('SELECT MIN("Population[50]") FROM Population')
min_population = cur.fetchone()[0]
print("Minimum Population:", min_population)

Minimum Population: 64473

In [17]:
cur.execute('SELECT MAX("Population[50]") FROM Population')
max_population = cur.fetchone()[0]
print("Maximum Population:", max_population)

Maximum Population: 1210854977

In [18]:
cur.execute('SELECT AVG("Population[50]") FROM Population')
average_population = cur.fetchone()[0]
print("Average Population:", average_population)

Average Population: 65451620.37837838

In [19]:
cur.execute('SELECT SUM("Population[50]") FROM Population')
total_population = cur.fetchone()[0]
print("Total Population:", total_population)

Total Population: 2421709954

In [20]:
cur.execute('SELECT COUNT(*) FROM Population')
count_records = cur.fetchone()[0]
print("Total Records:", count_records)

Total Records: 37

In [21]:
cur.execute('''
    SELECT
        SUM(CASE WHEN "Population[50]" < 1000000 THEN 1 ELSE 0 END) AS "Less than 1M",
        SUM(CASE WHEN "Population[50]" >= 1000000 AND "Population[50]" < 10000000 THEN 1 ELSE 0 END) AS "1M to 10M",
        SUM(CASE WHEN "Population[50]" >= 10000000 THEN 1 ELSE 0 END) AS "More than 10M"
    FROM Population
''')
population_distribution = cur.fetchone()
print("Population Distribution:", population_distribution)

Population Distribution: (5, 10, 22)

In [22]:
cur.execute('SELECT AVG(Male), AVG(Female) FROM Population')
avg_male_female = cur.fetchone()
print("Average Male Population:", avg_male_female[0])
print("Average Female Population:", avg_male_female[1])

Average Male Population: 33699854.24324324
Average Female Population: 31731183.56756757

In [23]:
cur.execute('SELECT SUM(Female), SUM(Male) FROM Population')
total_female, total_male = cur.fetchone()
if total_male > 0:  # Avoid division by zero
    sex_ratio = (total_female / total_male) * 1000
else:
    sex_ratio = None
print("Sex Ratio (Females per 1000 Males):", sex_ratio)

Sex Ratio (Females per 1000 Males): 941.582219867601

In [24]:
cur.execute('SELECT AVG("Density (per km2)") FROM Population')
average_density = cur.fetchone()[0]
print("Average Population Density (per km2):", average_density)

Average Population Density (per km2): 1051.6486486486488

In [25]:
cur.execute('SELECT SUM("Difference between male and female") FROM Population')
total_difference = cur.fetchone()[0]
print("Total Difference Between Male and Female Population:", total_difference)

Total Difference Between Male and Female Population: 72545650.0

In [26]:
cur.execute('SELECT SUM("Urban[51]"), SUM("Rural[51]") FROM Population')
total_urban, total_rural = cur.fetchone()
print("Total Urban Population:", total_urban)
print("Total Rural Population:", total_rural)

Total Urban Population: 750648734
Total Rural Population: 1666740656